# Winter 2021 Data Science Intern Challenge 

Question 1: On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

1.a: Think about what could be going wrong with our calculation. ANSWER = mean is inaccurate, high standard deviation
1.b: What metric would you report for this dataset? ANSWER = median, the mean is skewed high due to outlier data
1.c: What is its value? ANSWER = $284

In [85]:
import pandas as pd # using pandas library for data analysis
dataFrame = pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")

print(dataFrame.info()) # looking at column names, any missing values, data types.

print(dataFrame.describe()) # Looking at summary statistics of the data
# The value $3145.13 is taken from calculating the mean value of order_amount
# The mean is a poor measure of central tendency in this data due to a high standard deviation ($41,282.54)
# The high standard deviation is caused by outlier data such as $704,000 for 2000 shoes, compared to $90 per one item.
# Because the mean is skewed higher, I would use the median ($284,2 items) as a more accurate description of central tendency

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   object
dtypes: int64(5), object(2)
memory usage: 273.6+ KB
None
          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
25%    1250.750000    24.000000   775.000000     163.000000      1.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
75%    3750.250000    75.000000   925.000000     390.000000      3.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000

In [72]:
#going to look further into the data for any outliers and to ensure median is the best fit.
print(dataFrame.total_items.value_counts()) #we can see here that the majority of orders were for 1 or 2 items.

columnList = ['shop_id','order_amount','total_items']
print(dataFrame.loc[dataFrame.order_amount == dataFrame.order_amount.max(),columnList])
#only 17/5000 orders were for 2000 items.
#all from the same shop. Price per shoe = $352, which seems high but not completely unrealistic.
print("\nprice per shoe = $",dataFrame.order_amount.max() / dataFrame.total_items.max())

2       1832
1       1830
3        941
4        293
5         77
2000      17
6          9
8          1
Name: total_items, dtype: int64
      shop_id  order_amount  total_items
15         42        704000         2000
60         42        704000         2000
520        42        704000         2000
1104       42        704000         2000
1362       42        704000         2000
1436       42        704000         2000
1562       42        704000         2000
1602       42        704000         2000
2153       42        704000         2000
2297       42        704000         2000
2835       42        704000         2000
2969       42        704000         2000
3332       42        704000         2000
4056       42        704000         2000
4646       42        704000         2000
4868       42        704000         2000
4882       42        704000         2000

price per shoe = $ 352.0

In [91]:
 #looking at other large order values that could skew average.
print(dataFrame.loc[(dataFrame.order_amount > dataFrame.order_amount.mean()) & (dataFrame.shop_id != 42),columnList].head(10))
#only shop 42 and 78 have order amounts above the mean
print("\nOnly two shops have order amounts above the mean, Shops #",
      dataFrame.loc[dataFrame.order_amount > dataFrame.order_amount.mean(),columnList].shop_id.unique())

#we can see shop_id 78 is selling shoes for $25,725 per item. Data error ?
print(dataFrame.loc[dataFrame.shop_id == 78,columnList])
#calculating a mean without those data points gives us an average of $300, per 2 items, which closely resembles the median.
print("\nCalculating mean without outlier data =",
      dataFrame.loc[(dataFrame.shop_id != 78) & (dataFrame.shop_id !=42),["order_amount","total_items"]].mean())

      shop_id  order_amount  total_items
160        78         25725            1
490        78         51450            2
493        78         51450            2
511        78         51450            2
617        78         51450            2
691        78        154350            6
1056       78         25725            1
1193       78         25725            1
1204       78         25725            1
1259       78         77175            3

Only two shops have order amounts above the mean, Shops # [42 78]
      shop_id  order_amount  total_items
160        78         25725            1
490        78         51450            2
493        78         51450            2
511        78         51450            2
617        78         51450            2
691        78        154350            6
1056       78         25725            1
1193       78         25725            1
1204       78         25725            1
1259       78         77175            3
1384       78         25725            1
1419       78         25725            1
1452       78         25725            1
1529       78         51450            2
2270       78         25725            1
2452       78         51450            2
2492       78        102900            4
2495       78         51450            2
2512       78         51450            2
2548       78         25725            1
2564       78         77175            3
2690       78         77175            3
2773       78         25725            1
2818       78         51450            2
2821       78         51450            2
2906       78         77175            3
2922       78         25725            1
3085       78         25725            1
3101       78         51450            2
3151       78         25725            1
3167       78         51450            2
3403       78         77175            3
3440       78         25725            1
3705       78         51450            2
3724       78         77175            3
3780       78         25725            1
4040       78         25725            1
4079       78         51450            2
4192       78         77175            3
4311       78         51450            2
4412       78         51450            2
4420       78         77175            3
4505       78         25725            1
4584       78         25725            1
4715       78         77175            3
4918       78         25725            1

Calculating mean without outlier data = order_amount    300.155823
total_items       1.995717
dtype: float64

Question 2.a: How many orders were shipped by Speedy Express in total? ANSWER = 54.

SELECT COUNT(ShipperName)
FROM Orders
JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
WHERE ShipperName = "Speedy Express";

Question 2.b: What is the last name of the employee with the most orders? ANSWER = Peacock.

SELECT LastName, COUNT(LastName) AS amount
FROM Employees
JOIN orders ON employees.EmployeeID = orders.employeeID
GROUP BY LastName
ORDER BY amount DESC;

Question 2.c: What product was ordered the most by customers in Germany? ANSWER = Boston Crab Meat.

SELECT Country, ProductName, Sum(Quantity)
FROM Customers
JOIN orders ON customers.customerID = orders.customerID
JOIN orderDetails ON orders.OrderID = orderDetails.OrderID
JOIN Products ON orderDetails.productID = products.productID
WHERE Country = "Germany"
GROUP BY ProductName
ORDER BY Sum(Quantity) DESC;